@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

body {
  font-size: 1rem;
  background: rgba(255, 0, 0, 0.25)
    url("https://dynamicmedia.zuza.com/zz/m/original_/b/1/b1069eeb-9633-4b71-8c47-05bcc1c67929/RRttc001_Super_Portrait.jpg")
    no-repeat center/cover;
  background-attachment: fixed;
  position: relative;
  background-blend-mode: multiply;
}

body:after {
  content: "";
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
}

main {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

nav {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, auto);
  margin: 1.25rem 0;
}

nav a {
  padding: 1rem;
  color: white;
  background: red;
  border-radius: 0.5rem;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.15);
}

footer {
  margin: 1rem 0 0;
}

h1 {
  margin: 0;
}

span {
  line-height: 1.5;
  max-width: 30rem;
  margin: 1.25rem 0 0;
}

span {
  font-size: 1rem;
  font-weight: normal;
  display: block;
}

.lines {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  align-content: center;
}

@media screen and (min-width: 1100px) {
  .lines {
    grid-template-columns: repeat(4, auto);
  }
}

.line {
  font-weight: bold;
  padding: 1rem;
  min-width: 6rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  color: white;
  background: #ff0000;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.15);
}

.line--1 {
  color: black;
  background: #f6c214;
}

.line--2 {
  background: #009247;
}

.line--3 {
  background: #0a81c4;
}

.line--4 {
  background: #a12169;
}

.line--express {
  background: #00a651;
}

.line--dt {
  background: green;
}

.line--disabled {
  pointer-events: none;
  opacity: 0.5;
  background: black;
}

.a--active,
nav a:hover,
.line:hover {
  cursor: pointer;
  color: black;
  background: white;
}
